.container{

color: #fff;
  width: 80%;
  margin: auto;
  margin-top: 2%;
  
}
.caja {
  
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}
.h1{
  font-size: 2em;
  line-height: 2;
  width: 80%;
  margin-left: 8%;
  font-weight: 300;
}
.cajas{
  margin: 3%;
  
  width: 50%;
  height: 35px;
  font-size: 14px;
  font-family: inherit;
  padding: 6px; 
  border-radius: 4px;
}

.agregarbtn {
  background-color: #28a745; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 4px; 
  cursor: pointer;
}

.lista {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 1% 5%;
color: white;
  list-style: none;
  


}
.cantidad {
  display: flex;
  text-align: right; 
}

.inputCantidad {
  width: 50px; 
  height: 30px;
  margin: 0 5px;
  text-align: center;
}
.btnCantidad {
  width: 30px; 
  background-color: rgb(255, 0, 0);
  color: #fff;
  font-weight: 900;
  border: none;
  
  border-radius: 4px;
  cursor: pointer;
}

.eliminarbtn {
  background-color: #ea3042;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
.letter{
  
  padding: 8px;
  line-height: 2;
  font-size: 18px;
  font-family: inherit;
  
}
.total{
  
  width: 20%;
  padding: 1%;
  font-size: 16px;
  font-weight: 600;
  margin-left: 80%;
  margin-top: 2%
}
.infoPelicula {
  display: flex;
  flex-direction: column;
}

.nombre {
  font-size: 18px;
  font-weight: bold;
}

.precio {
  font-size: 16px;
  color: #888; 

}

